<div
  *ngIf="!gameState.isActief && !gameState.beginSituatie"
  class="nim-container"
>
  <form [formGroup]="gameForm">
    <mat-form-field class="stapel-input">
      <mat-label for="aantalStapels">Aantal stapels</mat-label>
      <input
        matInput
        min="1"
        [max]="maxStapels"
        type="number"
        formControlName="aantalStapels"
      />
    </mat-form-field>

    <mat-form-field
      *ngFor="let control of gameForm.controls.stapels.controls; index as i"
    >
      <mat-label for="stapels">{{ "stapel " + (+i + 1) }}</mat-label>
      <input
        matInput
        min="1"
        [max]="maxFiches"
        type="number"
        [formControl]="control"
      />
    </mat-form-field>
  </form>
</div>

<div class="button-container" *ngIf="!gameState.isActief">
  <button
    mat-raised-button
    color="primary"
    [disabled]="!gameForm.valid || gameState.beginSituatie != null"
    (click)="onClickRandom()"
  >
    Random stapels
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!gameForm.valid"
    (click)="onClickedStart()"
  >
    Start
  </button>
</div>

<div *ngIf="gameState.gameOver" class="nim-container">
  <h1>{{ gameState.resultaatTekst }}</h1>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!gameForm.valid"
    (click)="gameState.eindigSpel()"
  >
    Opnieuw spelen
  </button>
</div>

<div
  *ngIf="gameState.isActief && !gameState.isSpelersBeurt && !gameState.gameOver"
  class="computer-tekst"
>
  <h1>De computer heeft een zet gekozen</h1>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!gameForm.valid"
    (click)="gameState.computerZetUitvoeren()"
  >
    Ok
  </button>
</div>

<div class="game-grid nim-container">
  <div *ngFor="let aantal of gameState.stapels; index as i" class="game-column">
    <div
      *ngFor="let fichNummer of gameState.getDummyArray(aantal)"
      [ngClass]="getSelectedClass(i, fichNummer)"
      class="game-chip"
      (click)="onFicheClicked(i, fichNummer)"
    >
      {{ fichNummer + 1 }}
    </div>
  </div>
</div>
