<div *ngIf="!gameState.isActief">
  <form [formGroup]="gameForm">
    <mat-form-field>
      <mat-label for="aantalStapels">Aantal stapels</mat-label>
      <input
        matInput
        min="1"
        [max]="maxStapels"
        type="number"
        formControlName="aantalStapels"
      />
    </mat-form-field>

    <h6>Aantal Fishes</h6>

    <mat-form-field
      *ngFor="let control of gameForm.controls.stapels.controls; index as i"
    >
      <mat-label for="stapels">{{ i }}</mat-label>
      <input
        matInput
        min="1"
        [max]="maxFiches"
        type="number"
        [formControl]="control"
      />
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!gameForm.valid"
    (click)="onClickedStart()"
  >
    Start
  </button>
</div>

<div class="game-grid">
  <div *ngFor="let aantal of gameState.stapels; index as i" class="game-column">
    <div
      *ngFor="let fichNummer of this.gameState.getDummyArray(aantal)"
      class="game-chip"
      (click)="onFichClicked(i, fichNummer)"
    >
      {{ fichNummer }}
    </div>
  </div>
</div>

<!-- <pre>{{ gameForm.getRawValue() | json }}</pre> -->
<!-- <pre>{{ gameState.stapels | json }}</pre> -->
