.nim-container {
  padding: 1em;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

mat-form-field {
  max-width: 8em;
}

.stapel-input {
  margin-right: 3em;
}

.game-grid {
  display: flex;
  gap: 2em;
  align-items: end;
}

.game-column {
  width: 10%;
}

.game-chip {
  cursor: pointer;
  text-align: center;
  background-image: url("../assets/fiche.png");
  width: 100%;
  font-size: 1.6em;
  font-weight: bold;
  padding: 0.3em;
  margin: 0.3em;
  color: #000;
  border: 1px solid black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.geselecteerd {
  border: 4px solid #b53f51 !important;
}

.computer-tekst {
  height: 100px;
  display: flex;
  align-items: baseline;
  & > h1 {
    padding: 1em;
  }
}

.game-chip:hover {
  filter: brightness(90%);
}

.button-container {
  display: flex;
  gap: 2em;
}

// Mobile
@media screen and (max-width: 768px) {
  form {
    gap: 0;
    justify-content: center;
  }

  .stapel-input {
    margin-right: 0;
    margin-bottom: 3em;
  }

  .nim-container {
    text-align: center;
  }

  .game-column {
    width: 12%;
  }
}
